<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='<%= website.url %>/stylesheets/style.css'/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%= website.url %>/bootstrap/css/bootstrap.min.css">
    <title>Solid Sports Betting - Home</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" id="rawbot_device_title">SolidBet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="<%= website.url %>/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Betting
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="<%= website.url %>/crypto">Crypto</a>
                    <a class="dropdown-item" href="<%= website.url %>/matches">Matches</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    History
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="<%= website.url %>/history/created">Created contracts</a>
                    <a class="dropdown-item" href="<%= website.url %>/history/subscribed">Subscribed contracts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Active bets
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="<%= website.url %>/subscriptions/public">Public</a>
                    <a class="dropdown-item" href="<%= website.url %>/subscriptions/private">Private</a>
                    <a class="dropdown-item" href="<%= website.url %>/subscriptions/owned">Owned</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron lower">
        <h3>Solid Sports Betting - Smart contracts<br/>
            Go big or go home - that's how we do it
        </h3>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="./js/utils/jquery-3.3.1.min.js"></script>
<script src="./js/utils/popper.min.js"></script>
<script src="./bootstrap/js/bootstrap.min.js"></script>
<script src="./js/utils/web3.min.js"></script>
<script src="./js/app.js"></script>
</body>

</html>